!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.DS_Store
.gradle
.grunt
.idea
.lock-wscript
*.bak
*.hmap
*.ipa
*.lock
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pid
*.seed
*.xccheckout
*.xcuserstate
android/*.iml
build/
build/Release
coverage
DerivedData
lib-cov
local.properties
logs
node_modules
npm-debug.log
pids
project.xcworkspace
react-native-dialogs.iml
xcuserdata
